@color: #eeeeee;
@background: #34363b;

body {
    color: @color;
    background: @background;
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: 1.2em;
}

.content {
    max-width: 60em;
    margin: auto;
    padding: 10px;
    text-align: center;
}

.avatar {
    max-width: 323px;
    width: 100%;
    height: auto;
    border-radius: 10px;
}

a {
    text-decoration: none;
    color: inherit;
}

.cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    background-color: darken(@background, 5%);
    width: 25em;
    margin: 10px 10px;
    border-radius: 20px;
    box-shadow: 5px 5px 10px #111111;
    overflow: hidden;
}

.card-image {
    filter: brightness(90%);
    width: 100%;
}

.card-content {
    padding: 20px;
}

.card-header {
    text-align: left;
}

.card-link {
    margin: 0px 10px;
    transition: all .2s ease-in-out;
    display: inline-block;
    font-size: 1.3em;
}

.card-link:hover {
    transform: scale(1.1);
}