@color: #bdc1c6;
@background: #202124;

body {
    color: @color;
    background: @background;
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: 1.2em;
}

.content {
    max-width: 50em;
    margin: auto;
    padding: 10px;
    text-align: center;
}

.avatar {
    max-width: 323px;
    width: 100%;
    height: auto;
    border-radius: 10px;
}

ul {
    line-height: 1.75;
    text-align: left;
}